/dist
/builds
*.db
maint-scripts/inventory.yaml
*.log
*.json
!test/*.json
.env
.idea
device-management-service
executor/firecracker/testdata

test/integration/dms
test/integration/testdata/dms*
test/integration/testdata/storage

# dms logs
tests/acceptance/testdata/*.txt

/glusterfs_certificates

storagetestbinary
# Holds local development files. These files are used to develop
# features separately then merging into main code before commit.
# `cmd` was previously used, but now `cmd` is used to build executable
/demo

# Docker files
docker-compose.yml
.DS_Store

# generated test coverage files
cover.html
cover.out

# others
.aider*
sync_remote.sh

# emacs
*~

# builds
builds/
coverage.out

# incus certificate
acc-test-cfg.yml
