/dist
/builds
*.db
maint-scripts/inventory.yaml
*.log
*.json
!test/*.json
.env
.idea
.run
device-management-service
executor/firecracker/testdata

test/e2e/dms
test/e2e/testdata/dms*
test/e2e/testdata/storage

# dms logs
tests/acceptance/testdata/*.txt

/glusterfs_certificates

storagetestbinary
# Holds local development files. These files are used to develop
# features separately then merging into main code before commit.
# `cmd` was previously used, but now `cmd` is used to build executable
/demo

# Docker files
docker-compose.yml
.DS_Store

# generated test coverage files
cover.html
cover.out

# others
.aider*
CONVENTIONS.md
sync_remote.sh

# emacs
*~

# builds
builds/
coverage.out
coverage.txt
coverage.html
junit.xml

# acceptance tests
acc-test-cfg.yml
cloud-init.yaml
glusterfs-key
glusterfs-key.pub

# e2e tests
tests/e2e/dms
tests/e2e/testdata/basic_tests/
tests/e2e/testdata/deployment_assert_subnet/
tests/e2e/testdata/deployment_tests/
tests/e2e/testdata/deployment_updates/
tests/e2e/testdata/deployment_with_contracts_tests/
