/dist
*.db
maint-scripts/inventory.yaml
*.log
*.json
!test/*.json
.env
.idea

# Holds local development files. These files are used to develop
# features separately then merging into main code before commit.
# `cmd` was previously used, but now `cmd` is used to build executable
/demo

# Docker files
Dockerfile
docker-compose.yml
.DS_Store

# others
.aider*
