{
    "solution_enabler_did": {
        "uri": "{{solutionEnablerDID}}"
    },
    "payment_validator_did": {
        "uri": "{{paymentValidatorDID}}"
    },
    "resource_configuration": {
        "cpu": {
            "clock_speed": 0,
            "cores": 1
        },
        "ram": {
            "size": 1024
        },
        "disk": {
            "size": 1024
        }
    },
    "termination_option": {
        "allowed": true,
        "notice_period": 86400000000000
    },
    "penalties": [
        {
            "condition": "late",
            "penalty": 100
        }
    ],
    "payment_details": {
        "payment_model": "{{payment_model}}",
        "addresses": [
            {
                "requester_addr": "{{requesterAddr}}",
                "provider_addr": "{{providerAddr}}",
                "currency": "NTX",
                "blockchain": "ETHEREUM"
            }
        ],
        "fee_per_allocation": "{{amount}}",
        "fee_per_deployment": "{{fee_per_deployment}}",
        "fee_per_time_unit": "{{fee_per_time_unit}}",
        "time_unit": "{{time_unit}}",
        "fee_per_cpu_core_per_time_unit": "{{fee_per_cpu_core_per_time_unit}}",
        "fee_per_ram_gb_per_time_unit": "{{fee_per_ram_gb_per_time_unit}}",
        "fee_per_disk_gb_per_time_unit": "{{fee_per_disk_gb_per_time_unit}}",
        "fee_per_gpu_per_time_unit": "{{fee_per_gpu_per_time_unit}}",
        "resource_time_unit": "{{resource_time_unit}}",
        "fixed_rental_amount": "{{fixed_rental_amount}}",
        "payment_period": "{{payment_period}}",
        "payment_period_count": {{payment_period_count}},
        "timestamp": "0001-01-01T00:00:00Z",
        "payment_type": "blockchain",
        "orchestration_fee": {
            "fixed_amount": "{{orchestration_fee_fixed_amount}}",
            "percentage": "{{orchestration_fee_percentage}}",
            "recipient_address": {
                "requester_addr": "{{orchestration_fee_recipient_addr}}",
                "provider_addr": "",
                "currency": "NTX",
                "blockchain": "ETHEREUM"
            }
        }
    },
    "contract_terms": "Standard contract terms",
    "contract_participants": {
        "provider": {
            "uri": "{{providerDID}}"
        },
        "requestor": {
            "uri": "{{requesterDID}}"
        }
    },
    "duration": {
        "start_date": "{{start_date}}",
        "end_date": "{{end_date}}"
    },
    "disable_billing": {{disable_billing}}{{metadata}}
}