Package: nunet-dms
Version: version
Architecture: architecture
Depends: docker.io | docker-ce, libsystemd-dev
Installed-Size: DMS_INST_SIZE
Section: utils
Maintainer: Santosh Kumar<santosh.kumar@nunet.io>, Olakunle Oladimeji<olakunle.oladimeji@nunet.io>
Homepage: https://gitlab.com/nunet/device-management-service
Description: NuNet Device Management Service is the service which runs on the user machine.
