[Unit]
Description=NuNet Device Management Service.
Documentation=https://gitlab.com/nunet/device-management-service/-/wikis/home
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=nunet

Environment=GIN_MODE=release
ExecStart=/usr/bin/nunet run

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
